<%= form_for @search, as: :collection_filters,
  url: collections_path,
  html: {
    method: :get,
    class: "narrow-hidden filters",
    id: "collection-filters"
  } do |f| %>
  <h3 class="landmark heading"><%= ts("Filters") %></h3>
  <%= field_set_tag ts("Filter collections:") do %>
    <dl>
      <dt class="landmark"><%= ts("Sort and Filter") %></dt>
      <dd class="submit actions"><%= submit_tag ts("Sort and Filter") %></dd>

      <dt class="sort">
        <%= f.label :sort_column, ts("Sort by") %>
      </dt>
      <dd class="sort">
        <%= f.select :sort_column, options_for_select(@search.sort_options, @search.sort_column) %>
      </dd>

      <dt class="sort">
        <%= f.label :sort_direction, ts("Sort direction") %>
      </dt>
      <dd class="sort">
        <%= f.select :sort_direction,
            options_for_select([["Ascending", "asc"], ["Descending", "desc"]], @search.sort_direction) %>
      </dd>

      <dt class="autocomplete search">
        <%= f.label :title, ts("Filter by title or name") %>
      </dt>
      <dd class="autocomplete search">
        <%= f.text_field :title,
            autocomplete_options("collection_fullname", autocomplete_token_limit: 1) %>
      </dd>

      <dt class="autocomplete search">
        <%= f.label :fandom, ts("Filter by fandom") %>
      </dt>
      <dd class="autocomplete search">
        <%= f.text_field :fandom,
            autocomplete_options("fandom", autocomplete_token_limit: 1) %>
      </dd>

      <dt><%= ts("Closed") %></dt>
      <dd>
        <ul>
          <li>
            <%= f.label :closed, value: "T" do %>
              <%= f.radio_button :closed, "T" %>
              <%= label_indicator_and_text(ts("Yes")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :closed, value: "F" do %>
              <%= f.radio_button :closed, "F" %>
              <%= label_indicator_and_text(ts("No")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :closed, value: "" do %>
              <%= f.radio_button :closed, "" %>
              <%= label_indicator_and_text(ts("Either")) %>
            <% end %>
          </li>
        </ul>
      </dd>

      <dt><%= ts("Moderated") %></dt>
      <dd>
        <ul>
          <li>
            <%= f.label :moderated, value: "T" do %>
              <%= f.radio_button :moderated, "T" %>
              <%= label_indicator_and_text(ts("Yes")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :moderated, value: "F" do %>
              <%= f.radio_button :moderated, "F" %>
              <%= label_indicator_and_text(ts("No")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :moderated, value: "" do %>
              <%= f.radio_button :moderated, "" %>
              <%= label_indicator_and_text(ts("Either")) %>
            <% end %>
          </li>
        </ul>
      </dd>

      <dt><%= ts("Collection Type") %></dt>
      <dd>
        <ul>
            <%= f.label :challenge_type, value: "GiftExchange" do %>
              <%= f.radio_button :challenge_type, "GiftExchange" %>
              <%= label_indicator_and_text(ts("Gift Exchange Challenge")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :challenge_type, value: "PromptMeme" do %>
              <%= f.radio_button :challenge_type, "PromptMeme" %>
              <%= label_indicator_and_text(ts("Prompt Meme Challenge")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :challenge_type, value: "None" do %>
              <%= f.radio_button :challenge_type, "None" %>
              <%= label_indicator_and_text(ts("No Challenge")) %>
            <% end %>
          </li>
          <li>
            <%= f.label :challenge_type, value: "" do %>
              <%= f.radio_button :challenge_type, "" %>
              <%= label_indicator_and_text(ts("Any")) %>
            <% end %>
          </li>
        </ul>
      </dd>

      <dt class="landmark"><%= ts("Submit") %></dt>
      <dd class="submit actions"><%= submit_tag ts("Sort and Filter") %></dd>
    </dl>
  <% end %>
  <% # On narrow screens, link jumps to top of index when JavaScript is disabled and closes filters when JavaScript is enabled %>
  <p class="narrow-shown hidden">
    <a href="#main" id="leave_filters" class="close">
      <%= ts("Top of Collection Index") %>
    </a>
  </p>
<% end %>
